KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=observabilidad-documental
KEYCLOAK_CLIENT_ID=sistema-documental-app
KEYCLOAK_CLIENT_SECRET=tu_client_secret_aqui

DATABASE_URL=postgresql+pg8000://admin:admin123@localhost:5433/observabilidad_documental_db